body {
    background-color: rgb(42, 42, 42);
    font-family: OCR A Std, monospace;
}

.imgcirc {
    background-image: url(/public/circboard.jpg); 
    border-radius: 20px;
    background-size: cover;
}

.grad {
    background: linear-gradient(90deg, rgba(45, 51, 154, 0.759) 10%, rgba(40, 138, 113, 0.792) 100%);
    border-radius: 20px;
}

.logo {
    background: linear-gradient(90deg, rgb(45, 51, 154, 0.759) 10%, rgb(48, 114, 97) 100%);
    border-radius: 50%;
    height: 190px;
    width: 90%;
    margin-left: 9px;
    margin-top: 10%;
}

.navbar-back {
    position: fixed;
    overflow-y:scroll;
    margin-left: -8px;
    margin-top: -8px;
    background-color: rgb(27, 27, 27);
    height: 100%;
}

.button-right {
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
}

.button-style {
    background-color: #00000000;
    color: white;
    border: 2px solid white;
    width: fit-content;
}

.title {
    color: aliceblue;
    padding-left: 10px;
    padding-top: 10px;
}

.name {
    font-size: 30px;
    padding-right: 10px;
}

::-webkit-scrollbar {
    display: none;
  }

.navprojects-start {
    margin-top: 10px;
}

.icons {
    padding-left: 10px;
    display: flex;
    padding-bottom: 10px;
}

.icon-item {
    flex: 1;
}

.right-of-menu {
    margin-left: 217px;
    color: white;
}

.welcome {
    text-shadow: 1px 1px 6px #000000cb;
    padding-top: 3%;
    padding-bottom: 3%;
    color: aliceblue;
    font-size: 5vw;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.blue {
    color: rgb(90, 181, 195);
}

.right-grid {
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 15px;
    gap: 5%;
    display: grid;
    grid-template-columns: 45% 45%;
}

.col-one {
    grid-column-start: 1;
    height: fit-content;
    width: 90%;
}

.col-two {
    grid-column-start: 2;
    height: fit-content;
}

.row-one {
    grid-row-start: 1;
}

.row-two {
    padding-top: 10%;
    grid-row-start: 2;
}

.row-three {
    grid-row-start: 3;
}

.row-four {
    grid-row-start: 4;
}

.row-title {
    font-size: 4vw;
    font-family: 'Orbitron', sans-serif;
    color: antiquewhite;
}

.line-space-para{
    font-size: 1.5vw;
    line-height: 1.5;
}

.javascript-img {
    min-width: 300px;
    padding-top: 10%;
    width: 100%;
    border-radius: 5px;
}